<!-- Page Wrapper -->
<div class="page-wrapper">
    <div class="content container-fluid">
    
        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Blog Details</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="'/admin'">Dashboard</a></li>
                        <li class="breadcrumb-item active">Blog Details</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        
        <div class="row">
            <div class="col-sm-12" *ngIf="blogdetails">
                <div class="card">
                    <div class="card-body">

                        <!-- Blog details -->
                        <div class="row">
                            <div class="col-12 blog-details">
                                <span class="course-title">{{blogdetails.title}}</span>
                                <div class="d-flex flex-wrap date-col">
                                    <span class="date"><i class="fas fa-calendar-check"></i>{{blogdetails.createdAt | date: "d MMM yyyy"}}</span>
                                    <span class="author"><i class="fe fe-user"></i>By {{blogdetails.createdBy}}</span>
                                </div>
                                <div class="blog-details-img">
                                    <img class="img-fluid" *ngIf="blogdetails.img" src="{{blogdetails.img}}" alt="Post Image">
                                </div>
                                <div>
                                    <p>{{blogdetails.description}}</p>
                                    <p>{{blogdetails.description}}</p>
                                    <blockquote>
                                        {{blogdetails.description}}
                                    </blockquote>
                                    <p>{{blogdetails.description}}</p>
                                </div>
                            </div>
                        </div>
                        <!-- /Blog details -->

                    </div>
                </div>

                <!-- Share post -->
                <div class="card">
                    <div class="card-body">
                        <h4>Share the post</h4>
                        <ul class="share-post">
                            <li>
                                <a href="javascript:void(0)" target="_blank"><i class="fab fa-facebook-f"></i> </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" target="_blank"><i class="fab fa-twitter"></i> </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" target="_blank"><i class="fab fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" target="_blank"><i class="fab fa-dribbble"></i> </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /Share post -->

                <!-- About Author -->
                <div class="card">
                    <div class="card-body">
                        <h4>About author</h4>
                        <div class="about-author pt-4 d-flex align-items-center">
                            <div class="left">
                                <img class="rounded-circle" src="{{blogdetails.doctor_pic}}" width="120" alt="Ryan Taylor">
                            </div>
                            <div class="right">
                                <h5>{{blogdetails.doctor_name}}</h5>
                                <p>{{blogdetails.description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /About Author -->

            </div>			
        </div>
        
    </div>			
</div>
<!-- /Page Wrapper -->