<!-- Header Top-->
<!-- <div class="header-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="left-top">
          <ul>
            <li><i class="fas fa-map-marker-alt top-icon"></i> 123, washington street, uk</li>
            <li><i class="fas fa-phone-volume top-icon"></i> +19 123-456-7890</li>
            <li><i class="fas fa-envelope top-icon"></i> mail@yourdomain.com</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="right-top">
          <ul>
            <li>
              <a href="#"><i class="fab fa-facebook-f top-icons"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-instagram top-icons"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-linkedin-in top-icons"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-twitter top-icons"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- /Header Top-->
<!-- Header -->
<header class="header">
  <nav class="navbar navbar-expand-lg header-nav">
    <div class="container-fluid">
      <div class="navbar-header">
        <a id="mobile_btn" href="javascript:void(0);">
          <span class="bar-icon">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </a>
        <a (click)="naviagateToHome()" class="navbar-brand logo">
          <!-- <img src="assets/img/logo.png" class="img-fluid" alt="Logo"> -->
          <h2>Online Tutor</h2>
        </a>
      </div>
      <div class="main-menu-wrapper">
        <div class="menu-header">
          <a [routerLink]="'/index'" class="menu-logo">
            <img src="assets/img/logo.png" class="img-fluid" alt="Logo">
          </a>
          <a id="menu_close" class="menu-close" href="javascript:void(0);">
            <i class="fas fa-times"></i>
          </a>
        </div>
        <ul class="main-nav" *ngIf="authToken && role !=='Student'">
          <li [class.active]="base === '/'">
            <a [routerLink]="'/tutor/profile'">Profile</a>
          </li>
          <li [class.active]="base === '/'">
            <a [routerLink]="'/tutor/schedules'">Schedules</a>
          </li>
          <li>
            <a (click)="logout()">Logout</a>
          </li>
        </ul>
        <ul class="main-nav" *ngIf="authToken && role ==='Student'">
          <li [class.active]="base === '/'">
            <a [routerLink]="'/student/course'">Courses</a>
          </li>
          <li [class.active]="base === '/'">
            <a [routerLink]="'/student/schedules'">Schedules</a>
          </li>
          <li>
            <a (click)="logout()">Logout</a>
          </li>
        </ul>
      </div>
      <ul class="nav header-navbar-rht" *ngIf="!authToken">
        <li class="nav-item">
          <a class="nav-link header-register" [routerLink]="'/login-page'">Login</a>
        </li>
        <li class="nav-item" style="cursor: pointer ;">
          <a class="nav-link header-login" [routerLink]="'/register'">Register</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<!-- /Header -->