

			<!-- Header -->
			<div class="header">

				<!-- Logo -->
				<div class="header-left">
					<a [routerLink]="'/admin/dashboard'" class="logo">
					<img src="assets/admin/img/logo-white.png" alt="Logo">
					</a>
					<a [routerLink]="'/admin/dashboard'" class="logo logo-small">
					<img src="assets/admin/img/logo-small.png" alt="Logo" width="30" height="30">
					</a>
				</div>
				<!-- /Logo -->

				<a href="javascript:void(0);" id="toggle_btn">
          	<i class="fa fa-bars"></i>
				</a>
				<div class="top-nav-search">
					<form>
						<input type="text" class="form-control" placeholder="Search here">
						<button class="btn" type="submit"><i class="feather icon-search"></i>
						</button>
					</form>
				</div>

				<!-- Mobile Menu Toggle -->
				<a class="mobile_btn" id="mobile_btn_admin">	<i class="fa fa-bars"></i>
				</a>
				<!-- /Mobile Menu Toggle -->

				<!-- Header Right Menu -->
				<ul class="nav user-menu">
					<!-- Flag -->
					<li class="nav-item dropdown has-arrow flag-nav ms-2">
						<a class="nav-link dropdown-toggle align-items-center" data-bs-toggle="dropdown" href="javascript:void(0)" role="button">
						<img src="assets/admin/img/flags/us-1.png" alt="" width="24" height="16" class="lang-flag ms-1"> English
						</a>
						<div class="dropdown-menu dropdown-menu-end">
							<a href="javascript:void(0);" class="dropdown-item">
							<img src="assets/admin/img/flags/us.png" alt="" height="16"> English
							</a>
							<a href="javascript:void(0);" class="dropdown-item">
							<img src="assets/admin/img/flags/fr.png" alt="" height="16"> French
							</a>
							<a href="javascript:void(0);" class="dropdown-item">
							<img src="assets/admin/img/flags/es.png" alt="" height="16"> Spanish
							</a>
							<a href="javascript:void(0);" class="dropdown-item">
							<img src="assets/admin/img/flags/de.png" alt="" height="16"> German
							</a>
						</div>
					</li>
					<!-- /Flag -->

					<!-- Fullscreen -->
					<li class="nav-item dropdown">
						<a href="javascript:void(0)" id="btnFullscreen" class=" ">
						<i class="feather icon-maximize"></i>
						</a>
					</li>
					<!-- /Fullscreen -->

					<!-- Notifications -->
					<li class="nav-item dropdown noti-dropdown">
						<a href="javascript:void(0)" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
						<i class="feather icon-bell"></i> <span class="badge rounded-pill">3</span>
						</a>
						<div class="dropdown-menu notifications">
							<div class="topnav-dropdown-header">
								<span class="notification-title">Notifications</span>
								<a href="javascript:void(0)" class="clear-noti"> Clear All </a>
							</div>
							<div class="noti-content">
								<ul class="notification-list">
									<li class="notification-message">
										<a href="javascript:void(0)">
											<div class="media d-flex">
												<span class="avatar avatar-sm flex-shrink-0">
													<img class="avatar-img rounded-circle" alt="User Image" src="assets/admin/img/user/user.jpg">
												</span>
												<div class="media-body flex-grow-1">
													<p class="noti-details"><span class="noti-title">Jonathan Doe</span> Schedule <span class="noti-title">his appointment</span></p>
													<p class="noti-time"><span class="notification-time">4 mins ago</span></p>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href="javascript:void(0)">
											<div class="media d-flex">
												<span class="avatar avatar-sm flex-shrink-0">
												<img class="avatar-img rounded-circle" alt="User Image" src="assets/admin/img/user/user1.jpg">
												</span>
												<div class="media-body flex-grow-1">
													<p class="noti-details"><span class="noti-title">Julie Pennington</span> has booked her appointment to <span class="noti-title">Ruby Perrin</span></p>
													<p class="noti-time"><span class="notification-time">6 mins ago</span></p>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href="javascript:void(0)">
											<div class="media d-flex">
												<span class="avatar avatar-sm flex-shrink-0">
												<img class="avatar-img rounded-circle" alt="User Image" src="assets/admin/img/user/user2.jpg">
												</span>
												<div class="media-body flex-grow-1">
													<p class="noti-details"><span class="noti-title">Tyrone Roberts</span> sent a amount of $210 for his <span class="noti-title">appointment</span></p>
													<p class="noti-time"><span class="notification-time">8 mins ago</span></p>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href="javascript:void(0)">
											<div class="media d-flex">
												<span class="avatar avatar-sm flex-shrink-0">
												<img class="avatar-img rounded-circle" alt="User Image" src="assets/admin/img/user/user4.jpg">
												</span>
												<div class="media-body flex-grow-1">
													<p class="noti-details"><span class="noti-title">Patricia Manzi</span> send a message <span class="noti-title"> to his Mentee</span></p>
													<p class="noti-time"><span class="notification-time">12 mins ago</span></p>
												</div>
											</div>
										</a>
									</li>
								</ul>
							</div>
							<div class="topnav-dropdown-footer">
								<a href="javascript:void(0)">View all Notifications</a>
							</div>
						</div>
					</li>
					<!-- /Notifications -->

					<li class="nav-item dropdown has-arrow main-drop ms-3">
						<a href="javascript:void(0)" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
						<span class="user-img"><img src="assets/admin/img/profiles/avatar-06.jpg" alt=""> Admin
						<span class="status online"></span></span>
						</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" [routerLink]="'mentor-profile'"><i class="feather icon-user"></i> My Profile</a>
							<a class="dropdown-item" [routerLink]="'login-form'"><i class="feather icon-power"></i> Logout</a>
						</div>
					</li>
				</ul>
				<!-- /Header Right Menu -->

			</div>
			<!-- /Header -->

			<!-- Sidebar -->
            <div class="sidebar" id="sidebar">
                <div class="sidebar-inner slimscroll">
					<div id="sidebar-menu" class="sidebar-menu">
						<ul>
							<li class="menu-title">
								<span>Main</span>
							</li>
							<li [routerLink]="'/admin/dashboard'" [class.active]="page === 'dashboard'">
								<a (click)="change('dashboard')"><i class="fa fa-home" style="color: #fff"></i><span style="color: #fff">Dashboard</span></a>
							</li>
							<li [class.active]="page === 'mentor'" >
								<a (click)="change('mentor')" [routerLink]="'/admin/mentor'"><i class="fa fa-user"></i><span>Mentor</span></a>
							</li>
							<li [class.active]="page === 'mentee'" >
								<a (click)="change('mentee')" [routerLink]="'/admin/mentee'" ><i class="fa fa-users"></i><span>Mentee</span></a>
							</li>
							<li [class.active]="page === 'bookings'">
								<a (click)="change('bookings')" [routerLink]="'/admin/bookings'"><i class="fa fa-list"></i><span>Booking List</span></a>
							</li>
							<li [class.active]="page === 'categories'">
								<a (click)="change('categories')" [routerLink]="'/admin/categories'"><i class="fa fa-chevron-circle-down"></i><span>Categories</span></a>
							</li>
							<li [class.active]="page === 'transactions'">
								<a  (click)="change('transactions')" [routerLink]="'/admin/transactions'"><i class="fa fa-dollar"></i><span>Transactions</span></a>
							</li>
							<li [class.active]="page === 'settings'">
								<a (click)="change('settings')" [routerLink]="'/admin/settings'"><i class="fa fa-cog"></i><span>Settings</span></a>
							</li>
							<li class="submenu">
								<a href="javascript:void(0)"><i class="fa fa-chart-bar"></i><span> Reports</span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li [class.active]="page === 'invoice-reports'"><a [routerLink]="'/admin/invoice-reports'">Invoice Reports</a></li>
								</ul>
							</li>
							<li class="menu-title">
								<span> PAGES</span>
							</li>
							<li [class.active]="page === 'mentor-profile'">
								<a [routerLink]="'mentor-profile'"><i class="fa fa-user-plus"></i><span>My Profile</span></a>
							</li>
							<li class="submenu">
								<a href="javascript:void(0)"><i class="fa fa-book"></i><span> Blog</span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li [class.active]="page === 'blog'">
										<a [routerLink]="'blog'">Blog</a>
									</li>
									<li [class.active]="page === 'blog-details'">
										<a [routerLink]="'blog-details'">Blog Details</a>
									</li>
									<li [class.active]="page === 'add-blog'">
										<a [routerLink]="'add-blog'">Add Blog</a>
									</li>
									<li [class.active]="page === 'edit-blog'">
										<a [routerLink]="'edit-blog'">Edit Blog</a>
									</li>
								</ul>
							</li>
							<li class="submenu">
								<a href="javascript:void(0)"><i class="fa fa-lock"></i><span> Authentication </span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li [class.active]="page === 'login-form'"><a [routerLink]="'login-form'"> Login </a></li>
									<li [class.active]="page === 'register'"><a [routerLink]="'register'"> Register </a></li>
									<li [class.active]="page === 'forgot-passg'"><a [routerLink]="'forgot-pass'"> Forgot Password </a></li>
									<li [class.active]="page === 'lock-screen'"><a [routerLink]="'lock-screen'"> Lock Screen </a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="javascript:void(0)"><i class="fa fa-exclamation-circle"></i><span> Error Pages </span><span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li [class.active]="page === 'error-first'"><a [routerLink]="'error-first'">404 Error </a></li>
									<li [class.active]="page === 'error-second'"><a [routerLink]="'error-second'">500 Error </a></li>
								</ul>
							</li>
							<li [class.active]="page === 'blank'">
								<a [routerLink]="'blank-page'"><i class="fa fa-file"></i><span>Blank Page</span></a>
							</li>
							<li class="menu-title">
								<span> UI Interface</span>
							</li>
							<li [class.active]="page === 'components'">
								<a [routerLink]="'components'"><i class="fa fa-tv"></i><span>Components</span></a>
							</li>
							<li class="submenu">
								<a href="javascript:void(0)"><i class="fa fa-edit"></i><span> Forms </span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li [class.active]="page === 'basic-input'"><a [routerLink]="'basic-input'">Basic Inputs </a></li>
									<li [class.active]="page === 'input-groups'"><a [routerLink]="'input-groups'">Input Groups </a></li>
									<li [class.active]="page === 'horizondal-form'"><a [routerLink]="'horizondal-form'">Horizontal Form </a></li>
									<li [class.active]="page === 'vertical-form'"><a [routerLink]="'vertical-form'"> Vertical Form </a></li>
									<li [class.active]="page === 'form-mask'"><a [routerLink]="'form-mask'"> Form Mask </a></li>
									<li [class.active]="page === 'form-validation'"><a [routerLink]="'form-validation'"> Form Validation </a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="javascript:void(0)"><i class="fa fa-table"></i><span> Tables </span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li><a [class.active]="page === 'basic-tables'" [routerLink]="'basic-tables'">Basic Tables </a></li>
									<li><a [class.active]="page === 'admin-data-table'" [routerLink]="'admin-data-table'">Data Table </a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="javascript:void(0);"><i class="fa fa-align-left"></i><span>Multi Level</span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li class="submenu">
										<a href="javascript:void(0);"> <span>Level 1</span> <span class="menu-arrow"></span></a>
										<ul style="display: none;">
											<li><a href="javascript:void(0);"><span>Level 2</span></a></li>
											<li class="submenu">
												<a href="javascript:void(0);"> <span> Level 2</span><span class="menu-arrow"></span></a>
												<ul style="display: none;">
													<li><a href="javascript:void(0);">Level 3</a></li>
													<li><a href="javascript:void(0);">Level 3</a></li>
												</ul>
											</li>
											<li><a href="javascript:void(0);"> <span>Level 2</span></a></li>
										</ul>
									</li>
									<li>
										<a href="javascript:void(0);"> <span>Level 1</span></a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
                </div>
            </div>
			<!-- /Sidebar -->
